<nav class="navbar">
  <div class="nav-left">🏸 Court Reserve</div>
  <div class="nav-right">
    <a href="./admin/dashboard">Dashboard</a>
    <a href="./admin/booking">Bookings</a>
    <a href="./admin/court">Courts</a>
    <!--<a href="./admin/payment">Payments</a>-->
    <a href="./admin/review">Reviews</a>
    <a href="./admin/user">Users</a>
    <!--<a href="./user/profile">Profile</a>-->
    <a href="./admin/login">Logout</a>
  </div>
</nav>
<div class="payment-container">
  <div class="payment-card">
    <h2 class="title">Payment Records</h2>

    <table class="payment-table">
      <thead>
        <tr>
          <th>User</th>
          <th>Amount</th>
          <th>Method</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of payments">
          <td>{{ p.username }}</td>
          <td>{{ p.amount }}</td>
          <td>{{ p.method }}</td>
          <td>{{ p.date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
